CodeRunner/CodeRunner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CodeRunner" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coderunner">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vs" type="xs:string" minOccurs="0" />
        <xs:element name="fx" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
